
<div>
所选日期：<span><%=@year%></span>年<span><%=@month%></span>月<span><%=@date%></span>日<br>
</div>
<h1>任务列表</h1>

<table class="table table-striped">
<!-- <table> -->
  <thead>
    <tr>
     <!--  <th>任务id</th> -->
     <th></th>
      <th>任务描述</th>
      <th>时间</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @tasks.each do |task| %>
      <tr class="tr">
        <td><div class='task_id'><%=task.id.to_s%></div></td>
        <td><%= task.content %></td>
        <td><%= task.date %></td>
       <td>
        <div class = 'modify'><%=image_tag("http://pic.sucaibar.com/pic/201308/08/ad392948a9.png", size: "40x40", alt: "Edit Entry")%></div>
        <div class = 'delete'><%=image_tag("http://www.iconpng.com/png/luna-blue/trash.png", size: "40x40", alt: "Edit Entry")%></div>
        </td> 
          
      </tr>

    <% end %>
  </tbody>

</table>
 <!-- <div>
<%= link_to 'New Task', new_task_path %>
</div>  -->
<br>


  <!--< input type="text" name="textfield" id="textfield" /><br/>
  <div class= "button">
  <%=button_tag '建立', type: 'button' ,class:'bt1'%>
  <%=button_tag '取消', type: 'button' ,class:'bt2'%>
  </div>
 -->

<h2 style="display:inline"> 新建任务</h2>
<div id="down"><%=image_tag("http://www.iconeasy.com/icon/png/System/iVista/Plus.png", size: "40x40", alt: "Edit Entry")%></div>


<div class="input-append date form_datetime">
  <input size="16" type="datetime"  id="myDatetime"class=".span2">
  <span class="add-on"><i class="icon-th"></i></span>  
</div>

<!-- <div class ='hidden_data'>
<div class="input-append date" id="datetimepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
  <button type='button' class='span2'>
  <input class="span2"  type="text">
  <span class="add-on"><i class="icon-th"></i></span>
  </button>
</div>
</div>   --> 

<!-- <div style="display:none;"> 
<div>
<form class="new_task" id="new_task" action="/tasks" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="p7cuV8j1SNavaF8VVM17LJAf3LfyDJz3rPzJYtwsuREhb3otVg8OrCKZMnYEbWZUrgMnk0LpuZLTT8DRLFZCIw==">

  <div class="field">
    <label for="task_content">Content</label><br>
    <input type="text" name="task[content]" id="task_content">
  </div>
  <div class="field">
    <label for="task_date">Date</label><br>
    <input type="text" name="task[date]" id="task_date">
  </div>
  <div id="actions">
    <input type="submit" name="commit" value="Create Task" id='1'>
  </div>
</form>
</div>
 -->

